@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f9fafb;
}

html {
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
}

input[type='radio']:checked {
  background-color: #9333ea;
}
